<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <appSettings>
    <add key="LicenseServer" value="172.55.10.16:30000"/>
    <add key="SLDServer" value="172.55.10.16:40000"/>
    <add key="Server" value="172.55.10.16"/>
    <add key="UserName" value="manager"/>
    <add key="Password" value="Qaz1Wsx2!"/>
    <add key="CompanyDB" value="OTAT_EskiDb_2"/>
    <add key="DbServerType" value="11"/>
  </appSettings>
</configuration>
